<div class=" container subcontainer" id="main-container">
    <div class="row">
          <div class="col-12 mb-3 mb-lg-5">
            <!-- <button type="button" class="button mb-4">
                Issue Transfer
            </button>    -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table project-list-table table-nowrap align-middle table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col" class="ps-4" style="width: 50px;">
                                        <div class="form-check font-size-16"><input type="checkbox" class="form-check-input"
                                                id="contacusercheck" /><label class="form-check-label"
                                                for="contacusercheck"></label></div>
                                    </th>
                                    <th scope="col">Reference</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Transfer State</th>
                                    <th scope="col">Expiration date</th>
                                </tr>
                            </thead>
                            @for (transfer of transfers; track transfer.id) {
                            <tbody>
                                <tr>
                                    <th scope="row" class="ps-4">
                                        <div class="form-check font-size-16"><input type="checkbox" class="form-check-input"
                                                id="contacusercheck1" /><label class="form-check-label"
                                                for="contacusercheck1"></label></div>
                                    </th>
                                    <td style="width: 200px;">
                                        <!-- <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""
                                                class="avatar-sm rounded-circle me-2" /> -->
                                        {{transfer.reference}}
                                    </td>
                                    <td style="width: 150px;">{{transfer.transferAmount}}</td>
                                    <td style="width: 150px;">{{transfer.transferState}}</td>
                                    <td style="width: 150px;">{{transfer.expirationDate}} 
                                        <!-- <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a title="View" class="px-2 text-primary"
                                                (click)="onOpenModal(agent, 'view')"
                                                ><fa-icon [icon]="faEye"></fa-icon></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a title="Delete" class="px-2 text-danger"
                                                    (click)="onOpenModal(agent, 'delete')">
                                                    <fa-icon [icon]="faTrash"></fa-icon></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a title="edit" class="px-2 text-success"
                                                    (click)="onOpenModal(agent, 'edit')"><fa-icon
                                                        [icon]="faPenToSquare"></fa-icon></a>
                                            </li>
                                        </ul> -->
                                    </td>
                                </tr>
                            </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>