<div class="card">
    <!-- <p-toast></p-toast> -->
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button pRipple label="Add Sales Point" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></p-button>
        </ng-template>
    </p-toolbar>
    <p-table [value]="salesPoints" [tableStyle]="{'min-width': '60rem'}" editMode="row" [rowHover]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Sales Points 
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Daily Limit</th>
                <th>Created At</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-spoint>
            <tr>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="spoint.name">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{spoint.name}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="spoint.address">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{spoint.address}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="spoint.phoneNumber">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{spoint.phoneNumber}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td><p-tag [value]="spoint.dailyTransferLimit" [severity]="getSeverity(spoint.dailyTransferLimit)"></p-tag></td>
                <td>{{spoint.createdAt | date}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success mr-2" (click)="saveSalesPoint(spoint)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteSalesPoint(spoint.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{salesPoints ? salesPoints.length : 0 }} sales points.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Sales Point Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="salesPoint.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !salesPoint.name">Name is required.</small>
        </div>
        <div class="field">
            <label for="address">Address :</label>
            <textarea id="address" pInputTextarea [(ngModel)]="salesPoint.address" required rows="3" cols="20"></textarea>
        </div>

        <div class="field">
            <label for="phone">Phone :</label>
            <input type="text" pInputText id="phone" [(ngModel)]="salesPoint.phoneNumber" required autofocus />
        </div>

        <div class="field">
            <label for="transferlimit">Daily Transfer Limit : </label>
            <input type="text" pInputText id="phone" [(ngModel)]="salesPoint.dailyTransferLimit" required autofocus />
        </div>
        

    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveFromModal()"></button>
    </ng-template>
</p-dialog>
